<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active"  routerLink="/emp" >Employee</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active"  routerLink="/emp/addemp" >Add Employee</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active"  routerLink="/student" >Student</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active"  routerLink="/student/addstudent" >Add Student</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link active"  routerLink="/product" >Product</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active"  routerLink="/product/addproduct">Add-Product</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active"  routerLink="/product/addproductreactive" >Add Product-Reactive</a>
  </li>
  <li class="nav-item">
      <a class="nav-link active"  routerLink="/todo">Todo-List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active"  routerLink="/todo/addtodo">Add Todo</a>
      </li>
  <li class="nav-item">
      <a class="nav-link active"  routerLink="/employee">Employee-List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active"  routerLink="/addemployee">Add-Emp</a>
      </li>
      
</ul>

